<div th:fragment="cabecalho">
	<meta charset="UTF-8"/>
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">	
	
		
		<!--Fontawesome CDN-->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	<style>
	
		.logo-container{
			background-color: #85DCB0;
			color: #FFF;
		}
				
		.logo{
			font-family: 'Handlee', cursive;
			font-size: 2.5rem;
		}
		
		.login{
			background-color: #C38D9E;
		}



	</style>
</div>

<nav th:fragment="navMain" class="navbar navbar-light bg-light justify-content-between navbar-style">
	<a class="navbar navbar-brand" href="#">
		<img src="https://cdn-icons-png.flaticon.com/512/1584/1584892.png" class="logo-style" alt="Logo RhAlpha">
	</a>
	<div sec:authorize="isAuthenticated()" class="position-btn-log">
		<a onclick="document.querySelector('#form-login').submit()" class="btn btn-sm btn-outline-secondary " href="#">Logout</a>
		<form id="form-login" th:action="@{/logout}" method="post"></form>
	</div>
</nav>

<div th:fragment="titulo(valor)" class="login jumbotron mb-0 mt-2">
	<h1 class="display-4" th:text="${valor}"></h1>
</div>

<div th:fragment="mainButtons(current)" class="row d-flex justify-content-center text-center mt-5 mb-5">
	<div class="col-8 col-sm-12" role="group">
		<a 	th:href="@{/home}" class="btn btn btn-outline-dark"
			th:classappend = "${current} == 'main' ? active : common"
		>Principal</a>
		<a 	th:href="@{/report}" class="btn btn btn-outline-dark"
		   	th:classappend = "${current} == 'report' ? active : common"
		>Relatórios</a>
	</div>
</div>
